.info {
    display:flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #3bb9e6;
    font-family: 'Quicksand', sans-serif;
}
.info li {
    margin: 0.25rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.874);
}
.bic {
    margin-right: 0.5rem;
}