.nav {
    display: flex;
    justify-content: space-around;
    background-color: #25ADE0;
    padding: 1.5rem;
}
.left h1 {
    font-size: 2.25rem;
    text-align: center;
    color: white;
    font-family: 'Seaweed Script', cursive;
}
.left h2{
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    font-style: italic;
}
.right {
    align-items: center;
}
.right ul{
    display:flex;
    flex-wrap:nowrap;
}
.right ul li {
    width: 5rem;
}
.right ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.bin {
    color: white;
    margin-bottom: 0.5rem;
}
.li-icons {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 1rem;
}
