.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(117, 255, 255);
    padding: 1.25rem;
    align-items: center;
}
.left h1 {
    font-size: 1.5rem;
}
.left h2{
    font-size: 1.25rem;
}
.right {
    align-items: center;
}
.right ul{
    display:flex;
}
.right ul li {
    width: 5rem;
}
.right ul li a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        text-align: center;
        font-size: 1.2rem;
    }
    .nav .left {
        padding: 1rem;
    }
}